alias pi="pipenv install"
alias pu="pipenv uninstall"
alias pr="pipenv run"
alias prp="pipenv run python"
alias gs="git status"
alias grsh="git reset --soft HEAD~"
alias gcl="git clone"
alias gp="git push --set-upstream"
alias gpl="git pull"
alias gf="git fetch"
alias gfp="git push --force"
alias ga="git add ."
alias gc="git commit"
alias gca="git commit --amend"
alias gac="ga && gc"
alias gaca="git add . && git commit --amend"
alias gch="git checkout"
alias grbi="git rebase -i"
alias grba="git rebase --abort"
alias grbc="git rebase --continue"
alias gl="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all"
function gi() { curl -sLw "\n" https://www.toptal.com/developers/gitignore/api/$@ ;}